.countries-details {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  box-shadow: 0px 0px 10px 2px hsla(0, 0%, 0%, 0.2);
}
.countries-heading {
  margin-left: 2rem;
}
.dark-Mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 2rem;
  cursor: pointer;
}
.back-homepage {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.6rem;
  border-color: aliceblue;
  box-shadow: 0px 0px 10px 2px hsla(0, 0%, 0%, 0.2);
  margin-left: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  cursor: pointer;
}
.fa-arrow-left {
  font-size: 1.2rem;
  margin-left: 0;
}
.back-button {
  border: none;
  outline: none;
  font-size: 1.4rem;
  background-color: white;
  cursor: pointer;
}
.back-button.dark-button {
  background-color: #2b3743;
  color: white;
}
.fa-solid.dark-solid {
  color: white;
}
.countriesDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.country-image img {
  width: 40rem;
  height: 22rem;
}
.countrydetails {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  width: 100%;
  gap: 1rem;
}
.country-name {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.countries-info {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  width: 100%;
}
.additional-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 2rem;
  margin-top: 5.3rem;
  margin-left: 1.5rem;
}
.native-names,
.population,
.region,
.subregion,
.capital {
  color: rgb(77, 75, 75);
}
.tld-item,
.currency-item,
.language-item {
  color: rgb(77, 75, 75);
}
.dark-list {
  color: rgb(197, 192, 192);
}

.border-countries {
  grid-column: 1 / -1;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  line-height: 3rem;
}
.border-country-item {
  padding: 0.5rem;
  margin-left: 1rem;
  color: rgb(77, 75, 75);
  box-shadow: 0px 0px 10px 2px hsla(0, 0%, 0%, 0.2);
}
.dark-border{
    color: rgb(197, 192, 192);
  }