.emptyState {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-left: 3.2rem;
  margin-right: 0.5rem;
  padding: 2rem;
}
.country {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 17rem;
  height: 25rem;
  box-shadow: 0px 0px 10px 2px hsla(0, 0%, 0%, 0.2);
  border-radius: 0.5rem;
}
.countriesImage {
  height: 10rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.countryName {
  margin-left: 1.3rem;
  margin-right: 1rem;
  font-size: 1.4rem;
}
.countryDetails {
  margin-left: 1.3rem;
  margin-right: 1rem;
  line-height: 1.6rem;
}
.countryLink {
  text-decoration: none;
  color: black;
}
.countryLink.dark-link {
  color: white;
}
.population,
.area,
.region,
.subregion,
.capital {
  color: rgb(77, 75, 75);
}
.population.dark-lists,
.area.dark-lists,
.region.dark-lists,
.subregion.dark-lists,
.capital.dark-lists {
  color: rgb(197, 192, 192);
}
