* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 2px hsla(0, 0%, 0%, 0.2);
  padding: 1.8rem;
}
.heading,
.dark-icon {
  margin-left: 3rem;
  margin-right: 3rem;
}
.dark-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}
.darkMode {
  outline: none;
  border: none;
  font-size: 1rem;
}
.filter-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
}
.search-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0px 0px 10px 2px hsla(0, 0%, 0%, 0.2);
  height: 3rem;
  width: 25rem;
  border-radius: 6px;
  margin-left: 2rem;
}
.fa-solid {
  margin-left: 1rem;
  color: rgb(113, 112, 112);
}
.input-search {
  border: none;
  outline: none;
  font-size: medium;
  background-color: hsl(0, 0%, 100%);
  transition: background-color 0.3s, color 0.3s;
}
.input-search.dark-input {
  background-color: #2B3743;
  color: hsl(0, 0%, 100%);
  border: 1px solid #555;
}
.select-filter , .sort-area, .sort-population{
  margin-right: 2rem;
  box-shadow: 0px 0px 10px 2px hsla(0, 0%, 0%, 0.2);
  height: 3rem;
  width: 11rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-region {
  border: none;
  outline: none;
  width: 10rem;
  color: black;
  background-color: hsl(0, 0%, 100%);
}
.select-region.dark-select {
  background-color: #2B3743;
  color: hsl(0, 0%, 100%);
  outline: none;
  border: none;
}
.input-search.dark-input{
  border: none;
}
.input-search::placeholder {
  color: hsl(0, 0%, 60%);
}
.input-search.dark-input::placeholder{
  color: hsl(0, 0%, 100%);
}
.fa-solid.dark-solid{
  color: hsl(0, 0%, 100%);
}


